<form action="/results">
  <label for="input">List all the prime numbers up till your number</label>
  <input id="input" name="input" class="form-control" type="text">
  <button type="submit" name="submit">submit</button>
</form>
